{% extends "voter_analytics/base.html" %}  <!-- Ensure this extends your base template -->

{% block content %}
    <h1>Voter Data Graphs</h1>

    <div>
        <h2>Voter Distribution by Year of Birth</h2>
        {{ birth_year_graph|safe }}
    </div>

    <div>
        <h2>Voter Distribution by Party Affiliation</h2>
        {{ party_pie_chart|safe }}
    </div>
    <div>
        <h2>Voter Distribution by Election Participation</h2>
        {{ election_histogram|safe }}
    </div>

{% endblock %}