<!-- This is the base HTML template for my Urth Caffe website
    Key Features:
    - {% load static %}: Loads static files, enabling the use of custom CSS files 
    like 'urth-styles.css'.
    - The title element sets the page title to "Urth Caffe".
    - External stylesheets: The page loads 'urth-styles.css' for custom styles and 
    includes fonts from Typekit and google fonts.
    - The <header> section displays the site's title, "Urth Caffe".
    - The <nav> section provides navigation links to the main page and the order 
    page using Django's {% url %} template tag.
    - The {% block content %} tag defines a content block where the dynamic content 
    for each page that extends this template will be inserted.-->
    
{% load static %} <!-- load static files for use in the template (for css file) -->
<html>

<head>
    <title>Urth Caffe</title>
    <link rel="stylesheet" href="{% static 'urth-styles.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/tub6sxd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap" rel="stylesheet">
</head>

<body>
    <header class="urth-header">
        <h1>Urth Caffe</h1>
    </header>

    <nav class="urth-nav">
        <a href="{% url 'restaurant' %}" class="nav-item">Main Page</a>
        <a href="{% url 'order' %}" class="nav-item">Order</a>
    </nav>

    {% block content %}
    {% endblock %}

</body>


</html>