{# ------------------------------------------------------------------------------
    # This is the main page template for the Urth Caffe website, extending the 
    # 'restaurant/base.html' layout
    #
    # What's included:
    # - {% extends 'restaurant/base.html' %}: This ties the page to the base layout
    # - {% block content %}: This block contains the main content of the page, which 
    #   will be shown in place of the content block in the base template
    #
    # Sections on this page:
    # - Hero Section: A large image at the top with a welcome message ("Welcome to Urth Caffe")
    # - Location Info: Displays the restaurant’s address and phone number
    # - Hours of Operation: Lists Urth’s operating hours for each day of the 
    #   week
    #
    # This page is meant to give a welcome to users visiting the website, as well 
    # as provide key details like location and hours.
    # ------------------------------------------------------------------------------
    # %}
    
{% extends 'restaurant/base.html' %}

{% block content %}

<div class="hero">
    <img src="https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/lzaqjwcu/8b83b3f2-1eb1-4fa6-9cbd-e1421bc72593.jpg"
        alt="Urth Caffe" class="hero-image">
    <h2 class="hero-text">Welcome to Urth Caffe</h2>
</div>

<!-- location info of restaurant -->
<div class="info">
    <div class="location">
        <h2>Our Location</h2>
        <p><strong>Beverly Hills</strong></p>
        <p>267 S. Beverly Dr.<br>Beverly Hills, CA 90212</p>
        <p>(310) 205-9311</p>

    </div>
<!-- hours of operation -->
    <div class="hours">
        <h2>Hours</h2>
        <table>
            <tr>
                <td><strong>Sunday - Thursday:</strong></td>
                <td>7:00 AM - 10:00 PM</td>
            </tr>
            <tr>
                <td><strong>Friday - Saturday:</strong></td>
                <td>7:00 AM - 11:00 PM</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}