{% extends 'figure_skating_game/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

    <h1>Element Usage Report: {{ element_name }}</h1>
    <div class="skater-detail-card">

    {% if element_error %}
        <p>{{ element_error }}</p>
    {% else %}
        <label for="skaterSelect">Select Skater:</label>
        <select id="skaterSelect">
            <option value="">All Skaters (Average)</option>
            {% for skater in skaters %}
                <option value="{{ skater.first_name }} {{ skater.last_name }}">{{ skater.first_name }} {{ skater.last_name }}</option>
            {% endfor %}
        </select>

        <h2>Average GOE Over Time</h2>
        

        <h2>Skater GOE Over Time</h2>
        <div class="goe-graph">{{ goe_graph_plotly|safe }}</div>
        

        <h2>Competition History</h2>
        <table>
            <thead>
                <tr>
                    <th>Competition</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Element Count</th>
                    <th>Average GOE</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                <p>{{competition.element_count}}</p>
                    <tr>
                        <td>{{ competition.name }}</td>
                        <td>{{ competition.date }}</td>
                        <td>{{ competition.location }}</td>
                        <td>{{ competition.element_count }}</td>
                        <td>{{ competition.avg_goe|default_if_none:"N/A" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</div>
{% endblock %}