<!--
    Mini FB base template
    - Contains a header with a link to show all profiles
    - Content block for page specific content
-->

{% load static %} <!-- load static files for use in the template (for css file) -->

<html>

<head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'mini-fb-styles.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
    </style>
</head>

<body>
    <header>
        <a href="{% url 'show_all_profiles' %}">
            <h1 class="underline">Mini Facebook</h1>
        </a>
    </header>


    {% block content %}
    {% endblock %}

</body>


</html>