<!-- 
    Mini FB Base Template
    - Defines the base layout for the Mini FB
    - Includes a header with a link to view all profiles
    - Contains a top navigation menu for toggling between "All Profiles" and "Create Profile"
    - Provides a block for page-specific content
-->

{% load static %} <!-- load static files for use in the template (for css file) -->

<html>

<head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'mini-fb-styles.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
    </style>
</head>

<body>
    <!-- header section with a link to the main profile listing -->
    <header>
        <a href="{% url 'show_all_profiles' %}">
            <h1 class="underline">Mini Facebook</h1>
        </a>
    </header>
    <!-- top menu to toggle between showing all profiles and creating a new profile -->
    <div class="container">
        <div class="top-menu">
            <ul>
                <!-- Navigation link to display all profiles -->
                <li class="{% if request.path == '/mini_fb/' %}active{% endif %}">
                    <a href="{% url 'show_all_profiles' %}">
                        <h2>All Profiles</h2>
                    </a>
                </li>
                <!-- Navigation link to create a new profile -->
                <li class="{% if '/create_profile' in request.path %}active{% endif %}">
                    <a href="{% url 'create_profile_form' %}">
                        <h2>Create Profile</h2>
                    </a>
                </li>
                <!-- Nav link to go to a user's profile directly if they are logged in -->
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' logged_in_profile.pk %}">
                        <h2>My Profile</h2>
                    </a>
                </li>
                {% endif %}
                
                
                <li>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <h2>Logout</h2>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <h2>Login</h2>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Placeholder for page-specific content -->
    {% block content %}
    {% endblock %}

</body>

</html>