{% load static %} <!-- load static files for use in the template (for css file) -->
<html>

<head>
    <title>Angela Davis Quotes</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poller+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Angela Davis Quotes</h1>
        </header>

        <div class="main-layout">
            <!-- left side: navigation menu -->
            <nav class="sidebar">
                <ul class="menu-hover-fill flex flex-col items-start leading-none text-2xl uppercase space-y-4">
                    <li><a href="{% url 'quote' %}"
                            class="{% if '/show_all' not in request.path and '/about' not in request.path %}active{% endif %}">Get
                            a Quote</a></li>
                    <li><a href="{% url 'show_all' %}"
                            class="{% if '/show_all' in request.path %}active{% endif %}">Show All Quotes</a></li>
                    <li><a href="{% url 'about' %}" class="{% if '/about' in request.path %}active{% endif %}">About</a>
                    </li>
                </ul>
            </nav>
            <!-- right side: main content area where dynamic content is rendered -->
            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>

</html>