{% load static %}
<html>

<head>
    <title>Angela Davis Quotes</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Angela Davis Quotes</h1>
        </header>

        <div class="main-layout">
            <!-- Left Side (Navigation) -->
            <nav class="sidebar">
                <ul>
                    <li><a href="{% url 'quote' %}">Get a Quote</a></li>
                    <li><a href="{% url 'show_all' %}">Show All Quotes</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
            <!-- Right Side (Main Content) -->

            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
        </div>

    </div>
</body>

</html>